In [3]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
CCE = pd.read_csv(r"C:\unnati\datascience\project\Repo\new branch\Budget_Text_Analysis\util\data\FY2008\structured\emotion\CharlotteCityEmotionDataFY08.csv")
CCE.drop(['Unnamed: 0'], axis=1,inplace=True)

In [5]:
CCE20 = pd.read_csv(r"C:\unnati\datascience\project\Repo\new branch\Budget_Text_Analysis\util\data\FY2020\structured\emotion\CharlotteCityEmotionDataFY20.csv")
CCE20.drop(['Unnamed: 0'], axis=1,inplace=True)

In [6]:
CCE.head()

   page_number      word  sent_count     sentiment   category
0            5    Budget          31         Trust    Emotion
1          206     Sewer          23       Disgust    Emotion
2          208    Budget          22         Trust    Emotion
3           30  Increase          17      Positive  Sentiment
4          153     Grant          17  Anticipation    Emotion

In [7]:
CCE.describe()

       page_number   sent_count
count  8042.000000  8042.000000
mean     96.567147     1.621238
std      59.507300     1.524753
min       1.000000     1.000000
25%      46.000000     1.000000
50%      91.000000     1.000000
75%     143.000000     2.000000
max     210.000000    31.000000

In [8]:
CCE20.head()

   page_number         word  sent_count sentiment   category
0           72       Budget          37     Trust    Emotion
1          292  Maintenance          28     Trust    Emotion
2          300        Sewer          28   Disgust    Emotion
3          276      General          25  Positive  Sentiment
4          276      General          25     Trust    Emotion

In [9]:
list08 = CCE["sentiment"].values
list08

array(['Trust', 'Disgust', 'Trust', ..., 'Trust', 'Trust', 'Trust'],
      dtype=object)

In [10]:
list20 = CCE20["sentiment"].values
list20

array(['Trust', 'Trust', 'Disgust', ..., 'Sadness', 'Trust', 'Trust'],
      dtype=object)

In [11]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\webfr\anaconda3\lib\site-packages (3.4.4)
Requirement already satisfied: six in c:\users\webfr\anaconda3\lib\site-packages (from nltk) (1.12.0)

In [12]:
import nltk

In [13]:
from nltk.probability import FreqDist
fdist = FreqDist(list08)
print(fdist)

<FreqDist with 10 samples and 8042 outcomes>

In [14]:
fdist.most_common(10)

[('Positive', 2645),
 ('Trust', 1730),
 ('Anticipation', 1034),
 ('Negative', 856),
 ('Fear', 468),
 ('Joy', 458),
 ('Sadness', 293),
 ('Anger', 273),
 ('Disgust', 147),
 ('Surprise', 138)]

In [15]:

fdist20 = FreqDist(list20)
print(fdist20)

<FreqDist with 10 samples and 17010 outcomes>

In [16]:
fdist20.most_common(10)

[('Positive', 5994),
 ('Trust', 4016),
 ('Anticipation', 2303),
 ('Negative', 1293),
 ('Joy', 1147),
 ('Fear', 837),
 ('Sadness', 528),
 ('Anger', 391),
 ('Surprise', 320),
 ('Disgust', 181)]

In [17]:

common_words = pd.merge(CCE, CCE20)

In [18]:
common_words.shape

(362, 5)

In [19]:
common_words.head()

   page_number    word  sent_count     sentiment   category
0           19  Budget           6         Trust    Emotion
1           21  Public           4  Anticipation    Emotion
2           21  Public           4      Positive  Sentiment
3           34     Tax           4      Negative  Sentiment
4           34     Tax           4       Sadness    Emotion

In [20]:
abc = CCE.groupby(['word','sentiment'],as_index=False).count().sort_values('page_number',ascending=False)

In [21]:
abc.head()

             word     sentiment  page_number  sent_count  category
135        Budget         Trust          123         123       123
974          Plan  Anticipation           93          93        93
635       General         Trust           72          72        72
634       General      Positive           72          72        72
903  Neighborhood  Anticipation           70          70        70

In [22]:
pd.crosstab(abc.word, abc.sentiment, margins=True)

sentiment,Anger,Anticipation,Disgust,Fear,Joy,Negative,Positive,Sadness,Surprise,Trust,All
word,,,,,,,,,,,
Abandoned,1,0,0,1,0,1,0,1,0,0,4
Abandonment,1,0,0,1,0,1,0,1,1,0,5
Ability,0,0,0,0,0,0,1,0,0,0,1
Academy,0,0,0,0,0,0,1,0,0,0,1
Acceptable,0,0,0,0,0,0,1,0,0,0,1
Accessible,0,0,0,0,0,0,1,0,0,0,1
Accident,0,0,0,1,0,1,0,1,1,0,4
Accomplish,0,0,0,0,1,0,1,0,0,0,2
Accomplished,0,0,0,0,1,0,1,0,0,0,2
Accomplishment,0,0,0,0,0,0,1,0,0,0,1
Account,0,0,0,0,0,0,0,0,0,1,1
Accounts,0,0,0,0,0,0,0,0,0,1,1
Accredited,0,0,0,0,0,0,1,0,0,1,2
Accurate,0,0,0,0,0,0,1,0,0,1,2
Achieve,0,0,0,0,1,0,1,0,0,1,3
Achievement,0,1,0,0,1,0,1,0,0,1,4
Acquire,0,0,0,0,0,0,1,0,0,0,1
Action,0,0,0,0,0,0,1,0,0,0,1
Actual,0,0,0,0,0,0,1,0,0,0,1
Addresses,0,1,0,0,0,0,1,0,0,0,2
Administrative,0,0,0,0,0,0,0,0,0,1,1
Advanced,0,0,0,0,0,0,1,0,0,0,1
Advancement,0,0,0,0,0,0,1,0,0,0,1
Advantage,0,0,0,0,0,0,1,0,0,0,1
Advice,0,0,0,0,0,0,0,0,0,1,1
Affirm,0,0,0,0,0,0,1,0,0,1,2
Aggravated,1,0,0,0,0,1,0,0,0,0,2
Aggressive,1,0,0,1,0,1,0,0,0,0,3
Agreed,0,0,0,0,0,0,1,0,0,1,2
Agreement,0,0,0,0,0,0,1,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...
Unsafe,0,0,0,1,0,1,0,0,0,0,2
Urgent,0,1,0,1,0,1,0,0,1,0,4
Utility,0,0,0,0,0,0,1,0,0,0,1
Vacancy,0,0,0,0,0,1,0,0,0,0,1
Valuable,0,0,0,0,0,0,1,0,0,0,1
Variable,0,0,0,0,0,0,0,0,1,0,1
Versus,1,0,0,0,0,1,0,0,0,0,2
Vice,0,0,0,0,0,1,0,0,0,0,1
Victim,1,0,0,1,0,1,0,1,0,0,4
Victory,0,1,0,0,1,0,1,0,0,1,4
Violence,1,0,0,1,0,1,0,1,0,0,4
Virtue,0,0,0,0,0,0,1,0,0,1,2
Vision,0,1,0,0,0,0,1,0,0,0,2
Vital,0,0,0,0,0,0,1,0,0,0,1
Vitality,0,0,0,0,1,0,1,0,0,1,3
Volunteer,0,1,0,1,1,0,1,0,0,1,5
Volunteers,0,0,0,0,0,0,0,0,0,1,1
Vote,1,1,0,0,1,1,1,1,1,1,8
Wait,0,1,0,0,0,1,0,0,0,0,2
Warning,0,0,0,1,0,0,0,0,0,0,1
Waste,0,0,1,0,0,1,0,0,0,0,2
White,0,1,0,0,1,0,1,0,0,1,4
Winning,0,1,1,0,1,0,1,1,1,1,7
Wireless,1,1,0,0,0,0,1,0,1,0,4
Wise,0,0,0,0,0,0,1,0,0,0,1
Working,0,0,0,0,0,0,1,0,0,0,1
Worthless,1,0,1,0,0,1,0,1,0,0,4
Writer,0,0,0,0,0,0,1,0,0,0,1
Youth,1,1,0,1,1,0,1,0,1,0,6
All,76,145,46,102,95,193,408,80,51,233,1429

In [23]:
table = pd.crosstab(CCE.category, CCE.sentiment, margins=True)

In [24]:
from scipy.stats import chi2_contingency
stat, p, dof, expected = chi2_contingency(table)

In [25]:
print(expected)

[[ 154.15232529  583.8589903    83.00509823  264.26112907  258.61452375
   483.34941557 1493.52710768  165.44553594   77.92315344  976.86272072
  4541.        ]
 [ 118.84767471  450.1410097    63.99490177  203.73887093  199.38547625
   372.65058443 1151.47289232  127.55446406   60.07684656  753.13727928
  3501.        ]
 [ 273.         1034.          147.          468.          458.
   856.         2645.          293.          138.         1730.
  8042.        ]]

In [26]:
CCE.sentiment = CCE.sentiment.replace({"Negative": "0","Positive": "1","Trust" :"2","Sadness":"0","Anticipation":"3","Surprise":"4","Fear":"5","Joy":"6","Anger":"7","Disgust":"8"})

In [27]:
CCE['sentiment'] = pd.to_numeric(CCE['sentiment'])
CCE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8042 entries, 0 to 8041
Data columns (total 5 columns):
page_number    8042 non-null int64
word           8042 non-null object
sent_count     8042 non-null int64
sentiment      8042 non-null int64
category       8042 non-null object
dtypes: int64(3), object(2)
memory usage: 314.2+ KB

In [28]:
CCE20.sentiment = CCE20.sentiment.replace({"Negative": "0","Positive": "1","Trust" :"2","Sadness":"0","Anticipation":"3","Surprise":"4","Fear":"5","Joy":"6","Anger":"7","Disgust":"8"})

In [29]:
CCE20['sentiment'] = pd.to_numeric(CCE20['sentiment'])
CCE20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17010 entries, 0 to 17009
Data columns (total 5 columns):
page_number    17010 non-null int64
word           17010 non-null object
sent_count     17010 non-null int64
sentiment      17010 non-null int64
category       17010 non-null object
dtypes: int64(3), object(2)
memory usage: 664.5+ KB

In [30]:
from statsmodels.stats import weightstats as stests

In [31]:
ztest ,pval1 = stests.ztest(CCE.sentiment, x2=CCE20.sentiment, value=0,alternative='two-sided')
print(float(pval1))
if pval1<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.28655421445412044
accept null hypothesis

In [32]:

stats.ttest_ind(CCE.sentiment, CCE20.sentiment)

C:\Users\webfr\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Ttest_indResult(statistic=1.0657111971070683, pvalue=0.28656448593199585)

In [44]:
RCE14 = pd.read_csv(r"C:\unnati\datascience\data\FY2014\structured\emotion\RaleighCityEmotionDataFY14.csv")
RCE14.drop(['Unnamed: 0'], axis=1,inplace=True)

In [43]:
RCE15 = pd.read_csv(r"C:\unnati\datascience\data\FY2015\structured\emotion\RaleighCityEmotionDataFY15.csv")
RCE15.drop(['Unnamed: 0'], axis=1,inplace=True)

In [45]:
RCE14.sentiment = RCE14.sentiment.replace({"Negative": "0","Positive": "1","Trust" :"2","Sadness":"0","Anticipation":"3","Surprise":"4","Fear":"5","Joy":"6","Anger":"7","Disgust":"8"})

In [46]:
RCE15.sentiment = RCE15.sentiment.replace({"Negative": "0","Positive": "1","Trust" :"2","Sadness":"0","Anticipation":"3","Surprise":"4","Fear":"5","Joy":"6","Anger":"7","Disgust":"8"})

In [47]:
RCE14.sentiment = pd.to_numeric(RCE14['sentiment'])
RCE15.sentiment = pd.to_numeric(RCE15['sentiment'])

In [48]:
stats.ttest_ind(RCE14.sentiment, RCE15.sentiment)

Ttest_indResult(statistic=-0.01835602192889385, pvalue=0.985355048138511)

In [49]:
ztest ,pval1 = stests.ztest(RCE14.sentiment, x2=RCE15.sentiment, value=0,alternative='two-sided')
print(float(pval1))
if pval1<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.9853548359420344
accept null hypothesis